body{
    padding: 0;
    margin: 50px;
    text-align: center;
}
#sub{
    padding: 8px 20px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: black;
    cursor: pointer;
}
#sub:hover{
    background-color: red;
    border: 1px solid red;
    color: white;
}
